* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eeec8a;
  width: 100%;
  height: 100vh;
}

p {
  font-size: xx-large;
  color: aliceblue;
}

.start {
  background: #e4761b;
  padding: 25px 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  border: solid #181313;
  border-radius: 1rem;
}

.main {
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  background: #fffaf2;
  border: solid #b99146;
  border-radius: 0.5rem;
}

button {
  border: solid;
  border-radius: 0.5rem;
  height: 3em;
}

input {
  border: solid;
  border-radius: 0.5rem;
  height: 5em;
}

output {
  border: solid;
  border-radius: 0.5rem;
  height: 5em;
}
